---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="TumoDev">
  <main>
    <!-- Presentacion -->
    <section class="w-full mx-auto py-40 md:py-60 bg-gray-900 text-gray-100">
      <div class="flex flex-col items-center justify-center max-w-2xl mx-auto px-6">
        <div class="flex justify-center md:justify-end w-full px-4">
          <a href="https://www.linkedin.com/in/franciscocj/" class="mt-4 py-3 md:px-4">
            <Badge>Disponible para Trabajos</Badge>
          </a>
        </div>
        <h1 class="text-5xl md:text-6xl font-bold text-center md:text-left">
          Hola, soy <span class="text-teal-400">Tumo</span><span class="text-white">Dev</span>
        </h1>
        <h2 class="text-2xl md:text-2xl font-light mt-6 text-center md:text-left">
          Estudiante Universitario y Desarrollador FullStack
        </h2>
      </div>
    </section>

    <!-- Sobre Mí -->
    <section id="sobre-mi" class="w-full mx-auto py-16 md:py-24 px-5 bg-gray-800 text-center">
      <h2 class="text-teal-400 text-3xl md:text-4xl font-bold mb-8">
        Sobre Mí
      </h2>
      <p class="text-gray-300 text-base md:text-lg max-w-3xl mx-auto leading-relaxed">
        Soy un apasionado por la tecnología y el desarrollo de software. Actualmente estoy estudiando para convertirme en un desarrollador FullStack especializado en tecnologías modernas como JavaScript, Python, Docker y más. Me encanta aprender cosas nuevas, enfrentar desafíos y encontrar soluciones creativas a problemas complejos.
      </p>
    </section>

    <!-- Habilidades -->
    <section id="habilidades" class="w-full mx-auto py-16 md:py-24 px-5 bg-gray-900">
      <h2 class="text-teal-400 text-3xl md:text-4xl font-bold text-center mb-8">
        Habilidades
      </h2>
      <div class="flex flex-wrap justify-center gap-3 md:gap-5">
        <img src="/icons/python.svg" alt="Python" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/typescript.svg" alt="Typescript" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/javascript.svg" alt="Javascript" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/tailwind.svg" alt="Tailwind CSS" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/figma.svg" alt="Figma" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/docker.svg" alt="Docker" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/astro.svg" alt="Astro" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/archlinux.svg" alt="Archlinux" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/git.svg" alt="Git" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/mysql.svg" alt="Mysql" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/bash.svg" alt="Bash" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/ubuntu.svg" alt="Ubuntu" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/postgres.svg" alt="Postgres" class="w-8 h-8 md:w-10 md:h-10">
        <img src="/icons/react.svg" alt="React" class="w-8 h-8 md:w-10 md:h-10">
      </div>       
    </section>

    <!-- Proyectos -->
    <section id="proyectos" class="w-full mx-auto py-16 md:py-24 px-5 md:px-40 bg-gray-800">
      <h2 class="text-teal-400 text-3xl md:text-4xl font-bold text-center mb-8">
        Proyectos
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
        <ProjectCard 
          title="Desarrollo de Plataforma Backend y Frontend para Bot Criptomonedas" 
          imgSrc="/proyectos/smarttrade.png" 
          description="Creé el diseño web, desarrollé el frontend y backend, e implementé un microservicio y una base de datos para gestionar las operaciones del bot de criptomonedas y los usuarios de la plataforma."
          technologies={["React", "Ionic", "Figma", "PostgresSQL", "Flask", "JWT", "AWS EC2", "Docker"]}
          githubLink="https://github.com/usuario/proyecto1"
        />
        <ProjectCard 
          title="Blog de programación" 
          imgSrc="/proyectos/blog.png" 
          description="Blog de programación donde comparto lo que voy aprendiendo, incluyendo tutoriales, experiencias y recursos sobre desarrollo de software, frameworks y mejores prácticas en el mundo de la programación."
          technologies={["Astro", "Tailwind", "React"]}
          githubLink="https://tumodev.com/blog"
        />
        <ProjectCard 
          title="Portafolio web Compositor Musical" 
          imgSrc="/proyectos/portfolio.png" 
          description="Portafolio desarrollado con Astro, destacando un diseño moderno y eficiente. "
          technologies={["Astro", "Tailwind", "Figma", "React"]}
          githubLink="https://portfolio-bastianjorquera.pages.dev/"
        />
        <ProjectCard 
          title="Evaluador Automático de Cuestionarios para la PUCV" 
          imgSrc="/proyectos/evaluai.png" 
          description="Aplicación para evaluar automáticamente cuestionarios de desarrollo usando modelos de lenguaje avanzados (LLMs), detallando sus principales funcionalidades y flujo de trabajo."
          technologies={["Electron", "React", "Python"]}
          githubLink="https://portfolio-bastianjorquera.pages.dev/"
        />
      </div>
    </section>

    <!-- Experiencia Laboral -->
    <section id="experiencia" class="w-full mx-auto py-16 md:py-24 px-5 bg-gray-900 text-gray-100">
      <div class="flex flex-col max-w-3xl mx-auto">
        <h2 class="text-teal-400 text-3xl md:text-4xl font-bold mb-8 text-left">
          Experiencia Laboral
        </h2>
        <div class="relative border-l border-teal-400">
          <!-- AndrewBot -->
          <div class="mb-10 ml-6 text-left">
            <span class="absolute flex items-center justify-center w-6 h-6 md:w-8 md:h-8 bg-teal-400 rounded-full -left-3 md:-left-4 ring-8 ring-gray-900"></span>
            <h3 class="text-white text-xl md:text-2xl font-bold">Desarrollador FullStack - AndrewBot</h3>
            <p class="text-gray-300">Marzo 2024 - Actualidad</p>
            <p class="text-gray-300 mt-2 leading-relaxed">
              Desarrollador en un proyecto de bot de trading, donde trabajé en el front y backend. Implementé un microservicio para la gestión de operaciones y desarrollé el backend de usuarios. Además, diseñé e implementé el frontend, creando una interfaz intuitiva que permite a los usuarios interactuar eficientemente con el bot.  
            </p>
          </div>
          <!-- Desarrollador Academico-->
          <div class="mb-10 ml-6 text-left">
            <span class="absolute flex items-center justify-center w-6 h-6 md:w-8 md:h-8 bg-teal-400 rounded-full -left-3 md:-left-4 ring-8 ring-gray-900"></span>
            <h3 class="text-white text-xl md:text-2xl font-bold">Desarrollador de Investigación Academica</h3>
            <p class="text-gray-300">Julio 2023 - Actual</p>
            <p class="text-gray-300 mt-2 leading-relaxed">
              Como desarrollador académico, creé EvaluAI, un evaluador automático para el aula virtual de la PUCV, y Paper Graph, una herramienta que genera grafos genealógicos de papers. Ambos proyectos mejoran procesos educativos: EvaluAI automatiza la calificación y Paper Graph facilita la comprensión de relaciones en la investigación académica.            </p>
          </div>
          <!-- Brainlink -->
          <div class="mb-10 ml-6 text-left">
            <span class="absolute flex items-center justify-center w-6 h-6 md:w-8 md:h-8 bg-teal-400 rounded-full -left-3 md:-left-4 ring-8 ring-gray-900"></span>
            <h3 class="text-white text-xl md:text-2xl font-bold">Ingeniero de Software - Brainlink</h3>
            <p class="text-gray-300">Noviembre 2024 - Marzo 2024</p>
            <p class="text-gray-300 mt-2 leading-relaxed">
              Desarrollé la documentación completa para un proyecto de juego de cartas educativo. Creé una página web de presentación y diseñé el backend que permitía la comunicación entre el juego y el sitio web. La documentación incluyó especificaciones técnicas, guías de uso y detalles de la integración del backend con el frontend.
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Contacto -->
    <section id="contacto" class="w-full mx-auto py-16 md:py-24 px-5 bg-gray-900 text-center text-gray-100">
      <h2 class="text-teal-400 text-3xl md:text-4xl font-bold mb-8">
        Contacto
      </h2>
      <p class="text-gray-300 text-base md:text-lg max-w-xl mx-auto mb-6 leading-relaxed">
        Si estás interesado en trabajar conmigo o simplemente quieres saludar, no dudes en contactarme a través de 
        <a href="mailto:work@tumodev.com" class="text-teal-400 hover:underline">work@tumodev.com</a>.
      </p>
      <a href="https://www.linkedin.com/in/franciscocj/" class="bg-teal-400 text-gray-900 py-3 px-6 rounded-full hover:bg-teal-500 transition">
        Conecta conmigo en LinkedIn
      </a>
    </section>
  </main>
</Layout>
