---
// Este es el componente para una publicación destacada
export interface Props {
    title: string;
    link: string;
    date: string;
}

const { title, link, date } = Astro.props;
---
<div class="bg-gray-700 p-4 rounded-lg text-center flex-shrink-0 w-full">
    <h3 class="text-xl font-semibold text-teal-400 mb-2">{title}</h3>
    <p class="text-sm text-gray-400 mb-2">{date}</p>
    <a href={link} class="inline-block mt-2 bg-teal-500 text-white px-3 py-1 rounded hover:bg-teal-600 transition">
        Leer más
    </a>
</div>
