<!-- Navbar -->
<header class="w-full fixed top-0 z-50 bg-gray-900 md:bg-opacity-75 shadow-lg">
  <nav class="max-w-7xl mx-auto px-5 lg:px-20 py-4 flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="text-2xl font-bold">Tumo<span class="text-teal-400">Dev</span></a>

    <!-- Links del navbar para pantallas medianas y grandes -->
    <ul class="hidden md:flex space-x-8 text-gray-300">
      <li><a href="/#sobre-mi" class="hover:text-teal-400 transition">Sobre Mí</a></li>
      <li><a href="/#habilidades" class="hover:text-teal-400 transition">Habilidades</a></li>
      <li><a href="/#proyectos" class="hover:text-teal-400 transition">Proyectos</a></li>
      <li><a href="/blog" class="hover:text-teal-400 transition">Blog</a></li>
      <li><a href="/#contacto" class="hover:text-teal-400 transition">Contacto</a></li>
    </ul>

    <!-- Menú responsive -->
    <div class="md:hidden">
      <button id="menu-toggle" class="text-gray-300 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>
  </nav>

  <!-- Menú desplegable responsive -->
  <div id="mobile-menu" class="hidden flex-col md:hidden bg-gray-800 bg-opacity-90 py-4 transition-all duration-300 ease-in-out absolute w-full left-0 top-16">
    <ul class="space-y-4 text-center text-gray-300">
      <li><a href="/#sobre-mi" class="block hover:text-teal-400 transition">Sobre Mí</a></li>
      <li><a href="/#habilidades" class="block hover:text-teal-400 transition">Habilidades</a></li>
      <li><a href="/#proyectos" class="block hover:text-teal-400 transition">Proyectos</a></li>
      <li><a href="/blog" class="hover:text-teal-400 transition">Blog</a></li>
      <li><a href="/#contacto" class="block hover:text-teal-400 transition">Contacto</a></li>
    </ul>
  </div>
</header>

<!-- JavaScript para el menú hamburguesa -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    // Verificamos si los elementos existen antes de agregar el evento
    if (menuToggle && mobileMenu) {
      const toggleMenu = () => {
        mobileMenu.classList.toggle('hidden');
        mobileMenu.classList.toggle('flex'); // Cambiar a flex para mantener la alineación
      };

      menuToggle.addEventListener('click', toggleMenu);
      menuToggle.addEventListener('touchstart', toggleMenu);
    } else {
      console.error('El menú toggle o el menú móvil no se encontraron.');
    }
  });
</script>
