---
// src/layouts/BlogPage.astro
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <section class="w-full min-h-screen bg-gray-900 text-gray-100 py-24 px-4 sm:px-8 lg:px-24">
        <article class="max-w-3xl mx-auto bg-gray-800 p-6 sm:p-10 rounded-lg shadow-lg">
            <!-- Título de la Publicación -->
            <header class="mb-8">
                <h1 class="text-4xl sm:text-5xl lg:text-6xl font-extrabold text-teal-400 mb-4 leading-tight">
                    {frontmatter.title}
                </h1>
                <!-- Barra de Información -->
                <div class="flex flex-col sm:flex-row sm:justify-between text-sm sm:text-base text-gray-400 border-t border-b border-gray-700 py-4">
                    <!-- Fecha de Publicación -->
                    <div class="flex items-center mb-2 sm:mb-0">
                        <svg class="h-5 w-5 mr-2 text-teal-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10m-4 4h4m-6 4h6m-1-16h6a2 2 0 012 2v12a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h1"></path>
                        </svg>
                        <p>{frontmatter.date}</p>
                    </div>
                    <!-- Etiquetas -->
                    <div class="flex items-center space-x-2">
                        <svg class="h-5 w-5 mr-1 text-teal-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A1 1 0 016.804 19.49l4.95-4.95a1 1 0 00-.707-1.707l-3.536-.707.707-3.536a1 1 0 00-1.707-.707L4.489 6.805A1 1 0 003.804 8.49l4.95 4.95a1 1 0 01-1.707 1.707L5.12 17.804z"></path>
                        </svg>
                        <div class="flex flex-wrap">
                            {Array.isArray(frontmatter.tags) ? frontmatter.tags.map((tag: unknown) => (
                                <span class="bg-teal-500 text-gray-900 rounded-full px-2 py-1 text-xs font-semibold mr-2 mb-2">
                                    {tag}
                                </span>
                            )) : 'Sin etiquetas'}
                        </div>
                    </div>
                </div>
            </header>
            <!-- Contenido de la Publicación -->
            <div class="prose prose-lg prose-invert text-gray-300">
                <slot />
            </div>
        </article>
    </section>
</Layout>
